<ul>
	Show BY Category
		<li><%= link_to "All Items",items_path %></li><br>
		<li><%= link_to "Electronics", electronics_path%></li><br>
   	<li><%= link_to "Mobiles",mobiles_path %></li><br>
    <li><%= link_to "Vehicles",vehicles_path %></li><br>
</ul>
<ul>
	<b>Order By</b>
	<li><%= link_to "Title", title_path%></li><br>
  <li><%= link_to "Price", price_path%></li><br>


</ul>
 